.chatroom {
	flex: 5;
	height: calc(100vh - 56px);
	position: sticky;
	top: 56px;
	width: 10%;
}

.chat-box {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	margin: 40px 50px;
	height: 600px;
	padding: 10px;
	display: flex;
	flex-direction: row;
}

.member-list {
	width: 20%;
}

.chat-content {
	width: 80%;
	margin-left: 10px;
}

.chat-messages {
	height: 80%;
	border: 1px solid #000;
}

.send-message {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.input-message {
	width: 90%;
	border-radius: 50px;
}

ul {
	padding: 0;
	list-style-type: none;
}

.send-button {
	width: 10%;
	border-radius: 50px;
	margin-left: 5px;
	cursor: pointer;
}

.member {
	padding: 10px;
	background: #eee;
	border: #000;
	cursor: pointer;
	margin: 5px 2px;
	box-shadow: 0 8px 8px -4px lightblue;
}

.member.active {
	background: blueviolet;
	color: #fff;
}

.active {
	display: block;
}

.member:hover {
	background: grey;
	color: #fff;
}

.avatar {
	background-color: cornflowerblue;
	padding: 3px 5px;
	border-radius: 5px;
	color: #fff;
}

.avatar.self {
	color: #000;
	background-color: greenyellow;
}

.message {
	padding: 5px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	margin: 5px 10px;
}

.message-data {
	padding: 5px;
}

.message.self {
	justify-content: end;
}

.rightbar--chat {
	flex: 2;
	height: calc(100vh - 56px);
	position: sticky;
	top: 56px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar--chat {
	flex: 2;
	height: calc(100vh - 56px);
	position: sticky;
	top: 56px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
}

.header--chat {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	border-bottom: solid 1px #ccc;
	flex-direction: column;
}

.header--chat--infor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 8px;
}

.header--chat--infor span {
	font-size: 18px;
	font-weight: 600;
}

.search--friend--message {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.search--friend--message input {
	padding: 8px;
}

.search--friend--message button {
	height: 40px !important;
	width: 40px !important;
}

.search--friend--message button span {
	font-size: 18px !important;
}

.list--message--sidebar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.list--message--sidebar .ant-segmented-item-label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list--message--sidebar .ant-segmented-item-icon {
	display: flex;
}

.container--sidebar--message {
	height: 70%;
	overflow-y: scroll;
}

.item--message--sidebar {
	display: flex;
	padding: 16px 8px 0px 8px;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
}

.infor--message--sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-left: 12px;
}

.name--message--sidebar {
	font-size: 16px;
	font-weight: 600;
}

.content--message--sidebar {
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 150px;
	display: block;
}

.avatar--message--sidebar img {
	width: 56px;
	height: 56px;
	object-fit: cover;
	border-radius: 50%;
}

.active--message {
	background-color: #1890ff;
}

.rightbar--chat--header {
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rightbar--chat--header img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

.rightbar--chat--header p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 290px;
	font-weight: 600;
	display: block;
	font-size: 16px;
	margin-top: 8px;
}

.file--item {
	margin-top: 8px;
}

.file--container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.contaner--item--file {
	padding: 0px 8px;
}

.button--file--item {
	display: flex;
	width: 100%;
	padding: 20px;
	align-items: center;
	margin-top: 8px;
}

.header--chatroom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
}

.header--chatroom--left {
	display: flex;
	align-items: center;
}

.header--chatroom--left img,
.header--chatroom img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 8px;
}

.header--chatroom--left p {
	font-size: 16px;
	font-weight: 600;
}

.header--chatroom--left span {
	font-size: 12px;
}

.header--chatroom--right {
	display: flex;
	align-items: center;
}

.header--chatroom--right--icon {
	font-size: 26px !important;
	margin-left: 12px;
	cursor: pointer;
}

.header--chatroom--right--icon:hover {
	color: #1890ff;
}

.container--chatroom {
	height: 88%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer--chatroom {
	width: 100%;
}

.footer--chatroom--icon-message {
	font-size: 24px;
	flex: 1 1;
	display: flex;
	align-items: center;
	margin-left: 8px;
}

.input-message {
	width: 100%;
	padding: 8px 16px;
}

.footer--chatroom--button-message {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0.4;
}

.container--chatroom .sent {
	background: #1890ff !important;
	border-radius: 10px;
	color: #fff !important;
	width: fit-content;
	position: relative;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	min-width: 50px;
}

.container--chatroom .sent .icon--message {
	position: absolute;
	top: 50%;
	left: -80px;
	transform: translateY(-50%);
	cursor: pointer;
	color: #b6b7b9;
}

.icon--message {
	display: none;
}

.sent--item:hover .icon--message,
.received--item:hover .icon--message {
	display: block;
}

.icon--emoticon--message .container--chatroom .received .icon--more--message:hover,
.container--chatroom .sent .icon--more--message:hover,
.container--chatroom .received .icon--reply--message:hover,
.container--chatroom .sent .icon--reply--message:hover,
.container--chatroom .received .icon--emoticon--message:hover,
.container--chatroom .sent .icon--emoticon--message:hover {
	color: #1890ff;
}

.container--chatroom .received {
	border-radius: 10px;
	word-wrap: break-word;
	position: relative;
}

.container--chatroom .received .icon--message {
	position: absolute;
	top: 50%;
	right: -80px;
	transform: translateY(-50%);
	cursor: pointer;
	color: #b6b7b9;
}

.received--item {
	padding-left: 8px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
	margin: 6px 0px;
}

.senderMessage {
	display: flex;
	justify-content: flex-end;
	flex-direction: column-reverse;
}

.sent--item {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}

.sent--item .senderMessage:last-child {
	margin-bottom: 12px;
}

.sent--item .ant-space-item:nth-child(1),
.received--item .ant-space-item:nth-child(1) {
	max-width: 80%;
}

.sender-name {
	font-size: 12px;
	/* font-weight: 600; */
	margin-left: 12px;
}

.sender-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 6px;
}

.content--message--group {
	max-width: 75%;
}

.removeMessage {
	width: 100px !important;
	display: block;
}

.emotion--container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 8px;
	cursor: pointer;
}

.icon--emoticon {
	width: 32px;
	margin: 0px 4px;
	height: 32px;
	object-fit: cover;
	border-radius: 50%;
}

.contaner {
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.history {
	position: relative;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.history_content {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column-reverse;
}

.system_message {
	margin: 8px auto;
	padding: 4px 8px;
	border-radius: 16px;
}

.scroll_down {
	position: absolute;
	bottom: 8px;
	right: 0;
	left: 0;
	margin: auto;

	transition: all 0.2s ease-in-out;
	transform: scale(0) translateY(100%);
}

.typing {
	position: absolute;
	bottom: 8px;
	left: 8px;

	padding: 4px;
	border: 1px solid;
	border-radius: 20px;

	transition: all 0.2s ease-in-out;
	transform: scale(0) translateY(100%);
}

.show {
	transform: scale(1) translateY(0);
}

.dropzone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 8px;
	backdrop-filter: blur(2px);
	pointer-events: none;
	color: white;
}

.dropzone_content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	border: 2px dashed;
	border-radius: 8px;
}

.footer--chatroom .input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	border: 1px solid;
	border-radius: 24px;
}

.footer--chatroom .input .ant-space-item:nth-child(1) {
	flex: 1;
}

.message-item {
	max-width: 50%;
	padding: 4px;
	border-radius: 16px;
	border: 1px solid;
	word-break: break-all;
}

.message-item-file {
	padding: 4px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.message-item-file-image {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 8px;
}

.file_name {
	flex: 1;
	width: 100%;
}

.text {
	padding: 0 4px;
}

.iamge_end {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.file_icon {
	width: 100px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
}

.icon--react--message {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.react--icon {
	position: absolute;
	bottom: -14px;
	right: 5px;
	cursor: pointer;
}

.title--popper {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 4px;
	padding: 8px;
	cursor: pointer;
}

.receivedMessage {

	margin-right: 100px;
}