.profile {
	display: flex;
	max-width: 100%;
}

.profileRight {
	flex: 9;
}

.profileCover {
	height: 320px;
	position: relative;
}
.button--space {
	display: flex;
	justify-content: center;
}
.profilePicBox {
	position: relative;
}

.profile-edit-icon {
	display: flex;
	justify-content: center;
}

.profileCoverImg {
	height: 260px;
	width: 80%;
	display: block;
	text-align: center;
	margin: auto;
	object-fit: cover;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.profileUserImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 150px;
	border: 3px solid white;
}
.modal {
	background: aliceblue;
	position: absolute;
	max-width: 300px;
	border-radius: 5px;
	z-index: 999;
	left: 43.6%;
	margin-top: 16px;
}
.modal::after {
	content: '';
	position: absolute;
	top: -25px;
	left: 30px;
	border: 10px solid transparent;
	border-bottom: 16px solid antiquewhite;
	z-index: 999;
}
.item--modal {
	padding: 14px;
	min-width: 300px;
	cursor: pointer;
	border-radius: 5px;
}
.item--modal:hover {
	background: #ccc;
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
.profileInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profileInfoDesc {
	margin: 5px auto;
	width: 700px;
	text-align: center;
}

.profileInfoName {
	font-size: 24px;
}

.profileInfoDesc {
	font-weight: 300;
}

.profileRightBottom {
	display: flex;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

@media screen and (max-width: 820px) {
	.profileRightTop {
		display: none;
	}
}

.profileILeft {
	flex: 3;
	position: sticky;
	top: 0;
	padding-bottom: 40px;
}

.profileInfor {
	width: 380px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-bottom: 20px;
}

.textGioiThieu {
	font-size: 20px;
	font-weight: 600;
	padding-top: 15px;
	padding-left: 15px;
}

.textTieuSu {
	background: #e4e6eb;
	color: #000;
	padding: 0 12px;
	width: 340px;
	height: 36px;
	cursor: pointer;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-weight: 600;
	font-size: 15px;
	margin-top: 20px;
}

.textDenTu {
	font-size: 15px;
	margin: auto;
	margin-top: 20px;
	margin-left: 22px;
	display: flex;
	align-items: center;
}

.textChinhSua {
	background: #e4e6eb;
	color: #000;
	padding: 0 12px;
	width: 340px;
	height: 36px;
	margin: auto;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-weight: 600;
	font-size: 15px;
	margin-top: 20px;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.profileImage {
	margin-top: 25px;
	height: 380px;
	width: 380px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.showMorePhoto {
	margin-left: 200px;
	margin-top: 17px;
	font-size: 17px;
	color: #0064d1;
	cursor: pointer;
}

.userPhotos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr); /* Sử dụng 3 hàng */
	margin-top: 4px;
	gap: 8px; /* Khoảng cách giữa các ảnh */
	width: 100%;
	height: 88%; /* Chiều cao tự động thay vì cố định 88% */
	padding: 8px 8px;
}

.photoItem {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photoItem img {
	width: 96%;
	height: 96%;
	border-radius: 50%;
	border: #ccc 1px solid;
	cursor: pointer;
	/* object-fit: cover;  Đảm bảo ảnh vừa với khu vực hiển thị */
}

.showMoreFriend {
	margin-left: 144px;
	margin-top: 17px;
	font-size: 17px;
	cursor: pointer;
	color: #0064d1;
}

.textprofileImage {
	display: flex;
}

.profileFriend {
	margin-top: 25px;
	height: 400px;
	width: 380px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-bottom: 20px;
}

.textCountFriend {
	margin-left: 14px;
	margin-top: 8px;
	font-size: 16px;
	color: #65676b;
}
.list--photo--item {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.list--photo--item img {
	width: 200px;
	height: 200px;
	border: #ccc 1px solid;
	cursor: pointer;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
}
