.centerbar .ant-card-meta-title {
	margin-bottom: 0 !important;
}

.centerbar .ant-card-body {
	padding-bottom: 28px !important;
}

.card--description {
	display: flex;
	z-index: 999;
	width: 100%;
	margin-left: -66px;
	position: absolute;
}
.leftbar--discover {
	flex: 2 !important;
}
.centerbar .btn--action {
	position: absolute;
	margin-top: -188px;
	margin-left: 125px;
}

.centerbar .card--description-text {
	margin: auto;
}
