.feed {
	flex: 5.5;
	padding: 20px;
}
.feedUser {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.67);
	border-radius: 10px;
}
.feed__scroll {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.67);
	border-radius: 10px;
	margin-top: 20px;
}
