.forgotPassword {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotPasswordWrapper {
  width: 90%;
  height: 90%;
  display: flex;
}

.forgotPasswordLeft,
.forgotPasswordRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgotPasswordLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
}

.forgotPasswordDesc {
  font-size: 22px;
}

.forgotPassword-title {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.forgotPassword-subtitle{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.forgotPasswordBox {
  height: 400px;
  width: 80%;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forgotPasswordInput {
  height: 40px;
  border-radius: 6px;
  border: 1px solid gray;
  font-size: 14px;
  padding: 4px 11px;
  margin-bottom: 6px;
}

.forgotPasswordInput:focus {
  outline: none;
}
.label_email,
.label_password{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;

}
.label_email::before,
.label_password::before{
  display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}
.label_password{
  margin-top: 22px;
}
.forgotPasswordBtn {
  height: 32px;
  border-radius: 6px;
  border: none;
  padding: 4px 15px;
  background-color: #1775ee;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  
}
.color_link{
  color: #1775ee;
  cursor: pointer;
}
.contaner_forgotPassword_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}
.forgotPasswordBtnDisabled {
  height: 32px;
  border-radius: 6px;
  padding: 4px 15px;
  border: none;
  background-color: #7d99bd;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.forgotPasswordBtnCenter {
  text-align: center;
}

@media screen and (max-width: 820px) {
  .forgotPasswordLeft {
    display: none;
  }

  .forgotPasswordWrapper {
    width: 90%;
  }

  .forgotPasswordregistrationButton {
    width: 75%;
  }
}
