.sidebar--group {
	flex: 2;
	height: calc(100vh - 56px);
	position: sticky;
	top: 56px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar__group {
	overflow-y: scroll;
	position: sticky;
	height: calc(100vh - 217px);
	width: 100%;
	overflow-x: hidden;
}

.topbarImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.group--infor-introduce {
	font-size: 22px;
	font-weight: 600;
	padding-top: 15px;
	padding-left: 15px;
	margin: auto;
	margin-left: 6px;
}

.topSidebar {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	border-bottom: solid 1px #ccc;
}

.topSidebar--setting {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topSidebar--setting-icon {
	margin: auto;
}

.topSidebar .ant-space-item {
	width: 100%;
}

.icon-setting {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin: auto;
	margin-top: 13px;
	display: flex;
	margin-right: 5%;
}

.topSidebar__search {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	min-height: 35px;
	width: 91%;
	background: #f0f2f5;
	margin-left: 4%;
}

.icon__search {
	min-width: 30px;
	font-size: 25px;
	margin-top: -10px;
}

.input__search {
	width: 100%;
	height: 35px;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	outline: none;
	border-radius: 20px;
	background: #f0f2f5;
}

.topSidebar__button {
	display: flex;
	display: flex;

}

.topSidebar__createGroup {
	margin-bottom: 14px;
	margin-top: 12px;
	width: 100%;
	height: 40px;
}

.icon--plus {
	color: #0064d1;
	font-size: 22px;
	margin-left: 100px;
	margin-top: -3px;
}

.createGroup--text {
	color: #0064d1;
	margin: auto;
	font-size: 15px;
	margin-right: 88px;
	margin-top: 2px;
	font-weight: 600;
}

.topSidebar__createGroup .topSidebar__button {
	background: #ebf5ff;
	height: 36px;
	width: 90%;
	margin-left: 5%;
}

::-webkit-scrollbar {
	width: 5px;
}

.image--group {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(201, 198, 198);
}

.sidebarWrapper {
	padding: 20px;
}

.sidebarList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebarListItem {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sidebarIcon {
	margin-right: 15px;
}

.sidebarButton {
	width: 150px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.sidebarButton:hover {
	background-color: rgb(167, 158, 158);
}

.sidebarHr {
	margin: 20px 0;
}

.sidebarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar__group .ant-spin-container .ant-list-items {
	margin-left: 14px;
}

.search-dropdown {
	position: fixed;
	z-index: 99;
	width: 26%;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	background: #f0f2f5;
	padding: 14px 0;
	margin-top: -13px;
	margin-left: -19px;
}

.search-dropdown-history {
	display: flex;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}

.search-dropdown-history ul li {
	font-size: 15px;
	font-weight: 500;
	margin: 5px 0;
}

.search-dropdown-title {
	display: flex;
	justify-content: space-between;
}

.search-dropdown-title .span-1 {
	font-weight: 600;
	font-size: 15px;
	margin-left: 14px;
}

.search-dropdown-title .span-2 {
	font-size: 15px;
	color: #0064d1;
	margin-right: 14px;
}

.item--postGroupName:hover {
	text-decoration: underline;
}

.search-dropdown ul li {
	padding: 6px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.search-dropdown ul li span {
	display: flex;
	align-items: center;
	margin-left: 12px;
}


.search-dropdown ul li:hover {
	background-color: #E4E6EB;
	border-radius: 5px;
	cursor: pointer;
}

.search--avatarGroup {
	width: 36px;
	height: 36px;
	border-radius: 8px;
	object-fit: cover;
}

.icon--remove svg {
	height: 20px;
	padding: 3px;
	width: 20px;
}

.icon--remove svg:hover {
	height: 20px;
	padding: 3px;
	width: 20px;
	background: #c1c6cd;
	border-radius: 50%;
}

.icon--clock {
	width: 20px;
	height: 20px;
}

.sideber--search-line {
	height: 1px;
	display: flex;
	margin: auto;
	background: #ced0d4;
	width: 89%;
	margin-top: 14px;
}

.filter--search {
	margin-top: 14px;
}

.filter--search-text {
	font-size: 15px;
	margin-left: 18px;
	font-weight: 600;
	color: black;
	margin-bottom: 10px;
}

.icon--search-filter {
	margin: auto;
	font-size: 25px;
}

.filter--search .icon-setting {
	width: 34px;
	height: 34px;
	margin-left: 10px;
}

.filter--search-item {
	width: 100%;
	margin-left: 10px;
	margin-bottom: 4px;
	padding-bottom: 11px;
	height: 48px;
	width: 95%;
}

.item--text {
	margin-top: 14px;
}

.item--text span {
	font-size: 14px;
	margin-left: 4px;
}

.filter--search-item:hover {
	background: #f0f2f5;
	border-radius: 8px;
	padding-bottom: 11px;
	height: 48px;
	width: 95%;
}

@media screen and (max-width: 820px) {
	.sidebar {
		display: none;
	}
}