.container--group {
	background-color: #e9eaf4;
}

.feed--detail {
	flex: 5.22;
}
.feed--detail-feedWrapper {
	padding: 8px;
}
.feedWrapper {
	padding: 20px;
}
.feed--group--scroll {
	padding: 8px !important;
}

/* .post {
	background: #ffffff;
} */

/* .share {
	background: #ffffff;
} */

.groupCover {
	height: 320px;
	position: relative;
}

.groupCoverImg {
	height: 320px !important;
	width: 100%;
	display: block;
	text-align: center;
	margin: auto;
	object-fit: cover;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.header--group {
	border-bottom: solid #ccc 1px;
}

.group--contanier--top {
	display: flex;
	min-height: 120px;
	align-items: center;
	margin-left: 30%;
	justify-content: space-between;
	margin-right: 6%;
}

.group--detail {
	width: 320px;
}

.group--name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.group--name-info {
	margin-top: 16px;
	display: flex;
}

.group--member {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
}

.group--public {
	margin-left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.list--feature--group {
	display: flex;
	margin: 0px 12px;
	width: 100%;
}

.list-feature {
	height: 60px;
	display: flex;
}

.list-feature li {
	display: inline-block;
	margin-right: 10px;
	font-weight: 600;
	color: #333;
	cursor: pointer;
	font-size: 15px;
	color: #65676b;
	margin: auto;
	padding: 0px 16px;
}

.list-feature li:hover {
	background-color: #fff;
	color: #000;
}

.group--header--button {
}

.header--group .group--button-add {
	background-color: #1877f2;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	height: 32px;
	width: 64px;
	cursor: pointer;
}

.group--button-more {
	background-color: #e4e6eb;
	border: none;
	border-radius: 5px;
	color: #706565;
	font-size: 15px;
	height: 33px;
	width: 42px;
	margin-left: 10px;
}

.group--button-joined {
	background-color: #e4e6eb;
	border: none;
	border-radius: 5px;
	color: black;
	font-size: 15px;
	height: 33px;
	padding: 6px 12px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.group--button-joined-icon {
	font-size: 15px;
	padding-left: 4px;
}

.container--search--group {
	display: flex;
}

.container--search--group-icon {
	font-weight: 600;
	padding: 8px 10px;
	background: #e4e6eb;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 10px;
}

.container--search--group-more {
	font-weight: 600;
	padding: 8px 10px;
	background: #e4e6eb;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 10px;
}

.groupUserImg {
	width: 150px !important;
	height: 150px !important;
	position: absolute;
	bottom: -25%;
	left: 12%;
	border-radius: 50%;
	border: 1px solid #ccc;
	cursor: pointer;
}

.menu--post {
	flex: 5.5 1;
}

.container--group {
	display: flex;
}

.menu--post .rightbar--group {
	flex: 4;
	margin: -42px 6px 0px 0px;
	display: flex;
	flex-direction: column;
}

.group--infor {
	background: #ffffff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	margin-top: 52px;
}

.group--infor-introduce {
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
	padding-left: 15px;
}

.group--infor-bio {
	margin-left: 16px;
	margin-top: 18px;
	margin-right: 30px;
}

.group--infor-bio span {
	font-size: 15px;
}

.group--infor-public,
.group--infor-show,
.group--infor-location {
	margin-left: 14px;
	margin-top: 14px;
	display: flex;
}

.group--public,
.group--show,
.group--location {
	font-size: 17px;
	font-weight: 600;
	margin-left: 6px;
}

.group--public-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
	margin-right: 20px;
}

.group--infor-public-text,
.group--infor-show-text {
	margin-left: 40px;
	margin-top: 10px;
}

.group--infor-public-text span,
.group--infor-show-text span {
	font-size: 15px;
}

.group--infor-more {
	background: #e4e6eb;
	padding: 0 12px;
	height: 36px;
	margin: auto;
	display: flex;
	justify-content: center;
	color: #000 !important;
	align-items: center;
	border-radius: 6px;
	font-weight: 600;
	font-size: 15px;
	margin-top: 20px;
}

.group--file {
	margin-top: 25px;
	background: #ffffff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px -3px 5px rgba(0, 0, 0, 0.1), 3px 0px 5px rgba(0, 0, 0, 0.1),
		-3px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 20px;
}

.group--file-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
}

.group--file-text-title {
	font-size: 18px;
	font-weight: 600;
}

.group--file-text-more {
	font-size: 17px;
	color: #0064d1;
}

.file--photos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	/* Sử dụng 2 hàng */
	margin-top: 4px;
	gap: 8px;
	/* Khoảng cách giữa các ảnh */
	width: 96%;
	height: 86%;
	/* Chiều cao tự động thay vì cố định 88% */
	padding: 8px 8px;
	margin: auto;
	margin-top: -2px;
}

.filePhotoItem {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.filePhotoItem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.invite--friend {
	display: flex;
	width: 100%;
	height: 360px;
	margin-top: 14px;
}

.invite--friend-search {
	display: flex;
	border-radius: 30px;
	height: 10%;
	width: 62%;
	background: #f0f2f5;
	margin-top: 6px;
	flex-wrap: wrap;
}

.input--search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal--invite--friend {
	display: flex;
}

.custom-modal-title {
	display: flex;
	margin: auto;
	font-size: 18px;
	font-weight: 600;
	justify-content: center;
}

.number--friend-selected {
	background: #f0f2f5;
	height: 70%;
	width: 50%;
	margin-left: 30px;
}

.friend--seleted-text {
	padding-left: 10px;
	padding-top: 10px;
	color: #65676b;
	font-size: 13px;
}

.line--top {
	height: 1px;
	background: #aba1a1;
	width: 107%;
	margin-bottom: 16px;
	margin-top: 16px;
	margin-left: -21.5px;
}

.line--mid {
	height: 1.5px;
	background: #aba1a1;
	width: 107%;
	margin-left: -21.5px;
	margin-top: -108px;
}

.invite--friend-qr {
	margin-bottom: 6px;
	display: flex;
	margin-top: 6px;
	padding: 5px;
}

.invite--friend-qr:hover {
	background-color: #f0f2f5;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.input__search {
	font-size: 15px;
}

.icon--qr {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon--qr img {
	width: 24px;
	height: 24px;
}

.qr--text {
	margin-left: 10px;
}

.qr--text-one {
	font-weight: 600;
}

.qr--text-two {
	font-size: 11px;
	margin-top: -2px;
	color: #65676b;
}

.line--bottom {
	height: 0.5px;
	background: #aba1a1;
	width: 107%;
	margin-left: -21.5px;
}

.filter--text {
	margin-top: -10px;
	font-size: 12px;
	color: #868489;
}

.filter--seletion {
	display: flex;
	margin-top: 6px;
}

.filter--seletion-option {
	padding: 5px 10px;
	background: #e4e6eb;
	border-radius: 5px;
	margin-right: 10px;
	display: flex;
}

.filter--seletion-option img {
	width: 20px;
	height: 20px;
}

.filter--seletion-option p {
	font-weight: 600;
	margin-left: 8px;
}

.select-friend {
	width: 100%;
}

.ant-select.select-list--friend {
	width: 100%;
}

.selected {
	display: flex;
	margin-top: 10px;
	margin-left: 5px;
}

.selected img {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	border-radius: 50%;
}

.selected p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.ant-select-selection-overflow-item .ant-select-selection-item {
	height: 38px;
	margin-top: 4px;
}
.search--button,
.more--button {
	margin-right: 12px;
	cursor: pointer;
}
.more--button:hover,
.search--button:hover {
	color: #1877f2;
}
.feed--note {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feed--note-feedWrapper {
	width: 80%;
}
.table--file {
	width: 100%;
}
