.feed {
	flex: 5.5;
}

.feedWrapper {
	padding: 20px;
}
.groupCover {
	height: 320px;
	position: relative;
}
.groupCoverImg {
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
	margin: auto;
	object-fit: cover;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.header--group {
	border-bottom: solid #ccc 1px;
}
.group--contanier--top {
	display: flex;
	min-height: 120px;
	align-items: center;
	margin-left: 30%;
	justify-content: space-between;
	margin-right: 40px;
}

.group--detail {
	width: 320px;
}

.group--name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.group--name-info {
	margin-top: 16px;
	display: flex;
}

.group--member {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 4px;
}

.group--public {
	margin-left: 4px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin-right: 20px;
}

.list--feature--group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 12px;
}

.list-feature {
	height: 60px;
	display: flex;
	margin-left: 70px;
}

.list-feature li {
	display: inline-block;
	margin-right: 10px;
	font-weight: 600;
	color: #333;
	cursor: pointer;
	font-size: 15px;
    color: #65676B;
    margin: auto;
	padding: 0px 16px;
}

.list-feature li:hover {
	background-color: #fff;
	color: #000;
}

.group--header--button {

}

.group--button-add {
	background-color: #1877F2;
    border: none;
	border-radius: 5px;
	color: white;
    font-size: 15px;
	height: 32px;
    width: 64px;
}

.group--button-more {
	background-color: #E4E6EB;
    border: none;
    border-radius: 5px;
    color: #706565;
    font-size: 15px;
    height: 33px;
    width: 42px;
    margin-left: 10px;
}

.group--button-joined {
	background-color: #E4E6EB;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    height: 33px;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
}

.group--button-joined-icon {
	font-size: 15px;
	padding-left: 4px;
}

.container--search--group {
	display: flex;
}

.container--search--group-icon {
	font-weight: 600;
    padding: 8px 10px;
    background: #e4e6eb;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.container--search--group-more {
	font-weight: 600;
    padding: 8px 10px;
    background: #e4e6eb;
    border-radius: 5px;
    font-size: 16px;
	margin-right: 10px;
}

  

.groupUserImg {
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: -25%;
	left: 12%;
}

.menu--post {
	flex: 5.5 1;
}
