.sidebar--group{
	flex: 2;
	height: calc(100vh - 56px);
	position: sticky;
	top: 56px;
}
.sidebar__group{
	overflow-y: scroll;
    position: sticky;
    height: calc(100vh - 217px);
    width: 100%;
    overflow-x: hidden;
}
.topbarImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
.group--infor-introduce {
	font-size: 22px;
	font-weight: 600;
	padding-top: 15px;
	padding-left: 15px;
	margin: auto;
	margin-left: 6px;
}

.topSidebar {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	border-bottom: solid 1px #ccc;
}

.topSidebar--setting {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topSidebar--setting-icon {
	margin: auto;
}
.topSidebar .ant-space-item{
	width: 100%;
}

.icon-setting {
	width: 36px;
    height: 36px;
	border-radius: 50%;
    background: #E4E6EB;
	margin: auto;
	margin-top: 13px;
	display: flex;
	margin-right: 10px;
}

.topSidebar__search {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	min-width: 350px;
	min-height: 35px;
	background: #f0f2f5;
}
.icon__search {
	min-width: 30px;
	font-size: 25px;
}
.input__search {
	width: 100%;
	height: 35px;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	outline: none;
	border-radius: 20px;
	background: #f0f2f5;
}
.topSidebar__button {
	display: flex;
	display: flex;

}

.topSidebar__createGroup {
	margin-bottom: 14px;
    margin-top: 12px;
    width: 340px;
    height: 40px;
}

.icon--plus {
	color: #0064d1;
	font-size: 22px;
	margin-left: 100px;
	margin-top: -3px;
}

.createGroup--text {
	color: #0064d1;
	margin: auto;
    font-size: 15px;
	margin-right: 88px;
    margin-top: 2px;
	font-weight: 600;
}

.topSidebar__button {
	background: #ebf5ff;
    height: 36px;
}

::-webkit-scrollbar {
	width: 5px;
}
.image--group {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(201, 198, 198);
}

.sidebarWrapper {
	padding: 20px;
}

.sidebarList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebarListItem {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sidebarIcon {
	margin-right: 15px;
}

.sidebarButton {
	width: 150px;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

.sidebarButton:hover {
	background-color: rgb(167, 158, 158);
}

.sidebarHr {
	margin: 20px 0;
}

.sidebarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

@media screen and (max-width: 820px) {
	.sidebar {
		display: none;
	}
}
