.rightbar {
	flex: 2;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 50px;
}
.friendRequest {
	display: flex;
	margin-left: 20px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
.friendRequest .ant-space-item {
	width: 100%;
}
.friendRequest--avatar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.friendRequest--button {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.rightbarWrapper {
	padding: 20px 20px 0 0;
}

.birthdayContainer {
	display: flex;
	align-items: center;
}

.birthdayImg {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
}

.birthdayText {
	font-weight: 300;
	font-size: 15px;
}

.rightbarAd {
	width: 100%;
	border-radius: 10px;
	margin: 20px 0;
}

.rightbarAd2 {
	width: 100%;
	border-radius: 10px;
}

.rightbarTitle {
	margin-bottom: 20px;
}

.rightbarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.rightbarTitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.rightbarInfo {
	margin-bottom: 30px;
}

.rightbarInfoItem {
	margin-bottom: 10px;
}

.rightbarInfoKey {
	font-weight: 500;
	margin-right: 15px;
	color: #555;
}

.rightbarInfoValue {
	font-weight: 300;
}

.rightbarFollowings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rightbarFollowing {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	cursor: pointer;
}

.rightbarFollowingImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
}

.rightbarFollowBtn {
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
	background-color: #1872f2;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.rightbarFollowBtn:focus {
	outline: none;
}
.username_fq {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	flex: 1;
	margin-left: 12px;
}
@media screen and (max-width: 820px) {
	.rightbar {
		display: none;
	}
}
.online--icon{
	color: #1872f2;
    position: absolute;
    top: 0;
    left: 0;
}