.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  margin: 30px 0;
}

.postText {
  margin-left: 10px;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
  color: #050505;
  display: block;
}

.postLoAndName {
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-left: 16px;
}

.postLocation {
  display: block;
  font-size: 12px;
}

.postGroupName {
  font-size: 12px;
}

.postPostGroupId {
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-left: 10px;
}

.postDate {
  margin-top: 4px;
  font-size: 12px;
  margin-left: 10px;
  color:#65676B;
  display: block;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.commentImg {
  width: 230px;
  height: 210px;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-right: 10px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.postLikeCounter {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 4px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  margin-right: 8px;
}

.postCommentText:hover {
  text-decoration: underline;
}

.postCommentCont {
  margin-top: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.postCommentContReply {
  margin-top: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-left: -42px;
}

.postCommentCont-1 {
  width: 90%;
  margin-left: -6px;
}

.postCommentsBox {
  margin-top: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;  
  padding: 6px;
  background-color: #f0f2f5;
  border-radius: 30px;
  width: max-content;
}

.postCommentAction {
  margin-left: 45px;
}

.postCommentLike {
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #65676B;
}

:root {
  --shadow-2: rgba(0, 0, 0, 0.2);
}

.postLikeCommentCounter {
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 var(--shadow-2);
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-left: 20px;
}

.postCommentAction span {
  font-size: 12px;
}

.postCommentUser {
  min-width: 20%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.postCommentContent {
  margin-left: 46px;
  font-size: 15px;
  word-spacing: 2px;
  margin-top: -20px;
}

.postCommentTextDelete, .postCommentTextUpdate, .postCommentReply {
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #65676B;
}

.postCommentTextDelete {
  margin-bottom: 10px;
}

.postCommentReply {
  margin-left: 14px;
}

.postCommentTextUpdate {
  margin-top: 10px;
}

.postCommentUserName {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #050505;
  margin-top: -18px;
}

.postCommentBtn {
  background-color: #5699f0;
  color: white;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.liked {
  color: blue; 
}

.showMoreComment {
  font-size: 15px;
  margin-left: 12px;
  margin-top: 16px;
  color: #656768;
  font-weight: 550;
  cursor: pointer;
}

.showMoreComment:hover {
  text-decoration: underline;
}

#postGroupId {
  width: auto;
  font-size: 14px;
}

.shareOption-one {
  margin-left: -42px;
  font-size: 15px;
}


.editPost {
  margin-bottom: 20px;
}


.labelEditPost {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 0, 0); 
  font-size: 16px;
  font-weight: 600;
}


.editPost select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0); 
  font-size: 14px;
}


.editPost select:focus {
  border-color: rgb(0, 128, 255);
  outline: none;
}

.editPost textarea {
  border-radius: 5px;
  padding-top: 12px;
  padding-left: 10px;
}

.titlEditPost {
  font-size: 20px;
  font-weight: 600;
}

.editImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.editimg {
  width: 100%;
  object-fit: cover;
}

.editCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.editIcon {
  font-size: 18px;
  margin-right: 4px;
}

.editOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.editOptionText {
  font-size: 15px;
  font-weight: bold;
}

.shareIcon {
  font-size: 18px;
  cursor: pointer;
}

.shareOption {
  margin-right: 10px;
}

.handleToggleCommentOptions {
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  margin-left: 20px;
  cursor: pointer;
}

#comment {
  display: flex;
  flex-direction: column;
}

.commentOption {
  display: none;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  z-index: 1;
  border-radius: 10px;
  margin-top: 14px;
  padding-right: 50px;
}


.commentOption:after {
  content: "";
  position: absolute;
  top: -19px; /* Khoảng cách từ tam giác đến commentOption */
  left: 20%; /* Ở giữa đỉnh */
  transform: translateX(-50%); /* Dịch chuyển 50% chiều ngang để căn giữa */
  border-width: 10px; /* Độ dài của tam giác */
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.comment {
  margin-top: 24px;
}

.comment:hover .commentOption {
  display: block;
}

.commentOption span {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.commentOption span:hover {
  background-color: #f0f0f0;
}

.commentParent {
  display: flex;
}

.commentReply {
  margin-left: 60px;
}

