.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 17px -8px rgba(0, 0, 0, 0.67);
  margin: 30px 0;
}

.postText {
  margin-left: 10px;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
  color: #050505;
  display: block;
}

.postLocation {
  font-size: 12px;
  font-weight: bold;
  color: green;
  margin-left: 10px;
}

.postDate {
  margin-top: 4px;
  font-size: 12px;
  margin-left: 10px;
  color:#65676B;
  display: block;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.postLikeCounter {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 4px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  margin-right: 8px;
}

.postCommentCont {
  margin-top: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.postCommentCont-1 {
  width: 90%;
  margin-left: -6px;
}

.postCommentsBox {
  margin-top: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;  
  padding: 6px;
  background-color: #f0f2f5;
  border-radius: 30px;
  width: max-content;
}

.postCommentAction {
  margin-left: 45px;
}

.postCommentLike {
  margin-left: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #65676B;
}

:root {
  --shadow-2: rgba(0, 0, 0, 0.2);
}

.postLikeCommentCounter {
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 var(--shadow-2);
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 

}

.postCommentAction span {
  font-size: 12px;
}

.postCommentUser {
  min-width: 20%;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.postCommentContent {
  margin-left: 46px;
  font-size: 15px;
  word-spacing: 2px;
  margin-top: -20px;
}

.postCommentTextDelete {
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #65676B;
}

.postCommentUserName {
  margin-left: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #050505;
  margin-top: -18px;
}

.postCommentBtn {
  background-color: #5699f0;
  color: white;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.liked {
  color: blue; /* Màu xanh khi đã thích */
}



